<footer>
    <p>@ 2024 NITDA. All Rights Reserved.</p>
</footer>
<!-- Modules -->
<script src="codes/constants.js" type="module"></script>
<script type="module" src="codes/script.js"></script>
</body>

</html>