<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %> 

<section class="hero">
    <div class="hero-content">
        <img class="bg-img-hero" src="images/bg_img.png" alt="">
        <div class="contents">
            <h1>OPPS 404 PAGE NOT FOUND...</h1>
            <p>Insta-Aid your virtual lifeline!</p>
            <div class="chat-section">
                <div class="input-section">
                    <div class="woman-img">
                       <a href="/"><img src="images/nurse.png" alt=""></a> 
                    </div>
                    
                </div>
            
            
            </div>
        </div>
    </div>

</section>
</body>


<%- include('partials/footer') %>
