<%- include('partials/header') %>


<section class="mission-vission">
    <h2>Mission, Vision, and Values</h2>
    <hr>
    <div class="mvv-item-container">
        <h3>IA Mission</h3>
        <p>To revolutionize healthcare delivery by providing accessible, accurate, and AI-driven solutions that
            empower patients and healthcare providers to make informed decisions and enhance the quality of care.
        </p>
    </div>
    <div class="mvv-item-container">
        <h3>IA Vision</h3>
        <p>A world where AI-driven healthcare ensures personalized, efficient, and equitable treatment for all,
            transforming the patient experience and advancing medical practice for future generations.</p>
    </div>
    <div class="mvv-item-container">
        <h3>IA Value</h3>
        <ul>
            <li>
                <b>Patient-Centricity</b>: Prioritizing the well-being, dignity, and privacy of every individual.
            </li>
            <li>
                <b>Innovation</b>: Continuously pushing the boundaries of AI to improve healthcare delivery.
            </li>
            <li>
               <b> Ethics and Transparency</b>: Ensuring that our technology adheres to the highest standards of integrity
                and accountability.
            </li>
            <li>
                <b>Collaboration</b>: Working hand-in-hand with healthcare professionals, patients, and institutions
                to create solutions that truly meet the needs of the community.
            </li>
            <li>
                <b>Accessibility</b>: Committed to making healthcare more accessible and affordable through technology.
            </li>
        </ul>
    </div>
</section>

<%- include('partials/footer') %>
