<%- include('partials/header') %>

    

<!-- Hero section -->
<section class="hero">
    <div class="hero-content">
        <!-- <img class="bg-img-hero" src="images/bg_img.png" alt=""> -->
        <div class="contents">
            <h1>EMPOWERING AID, INSTANT RELIEF...</h1>
            <p>Insta-Aid your virtual lifeline!</p>
            <div class="cardInfo" >
                <p id="ptag">  
                    <%= Message %> 
                </p>
            </div>
            <div class="chat-section">
            
                <div class="input-section">
                    <div class="woman-img">
                        <img src="images/nurse.png" alt="">
                    </div>
                    
                    <div class="input-container">
                       
                        <form id="myform" action="/" method="POST">
                            <input type="text" name="input" id="insta_chat" placeholder="Chat with Insta...">   
                    </div>
                </div>
                <button type="submit"  ><img src="images/send_icon.png" alt=""></button>
            </form>
            </div>
        </div>
    </div>

</section>

<!-- Diagnosis Section -->
<section id="name" class="diagnosis-section">
    <ul id="list"></ul>
    <div  class="descriptive-images-container">
        <ul id="diagnosis-images-list"></ul>
    </div>
</section>

<script>
    // function search() {
    //     const element =document.querySelector("tag");
    //     element.classList.replace("diagnosis-section","newdiagnosis-section");
    // }
    //  document.getElementById('search').addEventListener('click', function () {
    //    const tag = document.getElementById('image')
    //    console.log(tag);
    //    console.log(boy);
    //    tag.classList.replace('diagnosis-section','newdiagnosis-section')
    // });
   
    
</script>


    <!-- <div id="map"></div> -->



    <!-- <h1>hello world!!!!!</h1>
     
    <form action="/" method="POST">
        <input type="text" name="input">
        <button type="submit">submit</button>
      </form> -->
      
        <!-- <button id="getLocation" type="submit">submit</button> -->

      
     
     
     <%- include('partials/footer') %>
